@{
    ViewData["Title"] = "Home Page";
    Layout = "_AdminLayout";
}
@*<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Click button to activate draggable div.</h1>
                <button id="button">Button</button>
            </div>
            <div class="col">
                <div class="row dropzone">
                    <div id="draggable" draggable="true" >
                        This div is draggable
                    </div>
                </div>
                <div class="row dropzone" id="droptarget"></div>
            </div>
        </div>
    </div>
</body>*@


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
