@{
    ViewData["Title"] = "Profiling";
    Layout = "_AdminLayout";
}

<table class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>No</th>
            <th>Nik</th>
            <th>Education</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="listBody">
    </tbody>
</table>

@section Scripts{
    <script src="~/js/profilingAjax.js"></script>
}
