@{
    ViewData["Title"] = "Account";
    Layout = "_AdminLayout";
}
<div>
    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
        Insert
    </button>
</div>
    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>No</th>
                <th>NIK</th>
                <th>Password</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="listBody">
        </tbody>
    </table>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @*<div class="row">*@
                <form role="form">
                    <div class="form-group">
                        <label for="accountNik" class="form-label">NIK</label>
                        <input type="text" class="form-control" id="accountNik" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="accountPassword" class="form-label">Password</label>
                        <input type="password" class="form-control" id="accountPassword" placeholder="">
                    </div>
                    @* <button type="submit" class="btn btn-primary">Submit</button>*@
                </form>
                @*</div>*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" onclick="Insert()">Save</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
@section Scripts{
    <script src="~/js/accountAjax.js"></script>
}
